/guia7ejercicios/nbproject/private/
/guia7ejercicios/build/
/guia7/nbproject/private/
/guia7/build/
/Guia6Extras/dist/
/Guia_7/nbproject/private/
/Guia_7/build/
/ejemplosGuia7/nbproject/private/
/ejemplosGuia7/build/
/Guia8/nbproject/private/
/Guia8/build/
/GuiaPOO/nbproject/private/
/GuiaPOO/build/